<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- database connection string -->
    <!--
    <add key="Db_Connection_String" value="Data Source=ttang01\SQLEXPRESS;Initial Catalog=AfrofunkOnline;User Id=afrofunk;Password=manutd01;"/>
    -->
    <add key="Db_Connection_String" value="Data Source=TanNovo\SQLEXPRESS;Initial Catalog=AfrofunkOnline;User Id=afrofunk;Password=manutd01;"/>
    
    
    <!-- afro live server to push new/change/update -->
    <!--
    <add key="Remote_Push_URL" value="http://localhost:88/store/remote/productUpdate"/>
    <add key="Remote_Push_Finalise_URL" value="http://localhost:88/store/remote/doFinaliseUpdate"/>
    -->
    
    <add key="Remote_Push_URL" value="http://www.afrofunk.com.au/store/remote/productUpdate"/>
    <add key="Remote_Push_Finalise_URL" value="http://www.afrofunk.com.au/store/remote/doFinaliseUpdate"/>
    
    
    
    <!-- secretkey to push out data to remote server for security reason -->
    <add key="Remote_Secret_Key" value="i2J9pLeC1-28DekxaDuvm"/>
    
    <!-- new config value -->
    <add key="" value=""/>
  </appSettings>
</configuration>